# 解决pnpm命令创建的vite项目无法在vscode中获得组件类型提示
public-hoist-pattern[]=@vue/runtime-core
registry=http://registry.npm.taobao.org
sass_binary_site=http://registry.npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=http://registry.npm.taobao.org/mirrors/phantomjs
ELECTRON_MIRROR=http://registry.npm.taobao.org/mirrors/electron/