$primary-color1: #3076f6;
$primary-color2: #24a0ff;
$primary-color3: #6cd7fb;
$primary-color4: #dff1ff;
$primary-color5: #575757;
$primary-color6: #a2a2a2;
$primary-color7: #d2d2d2;
$primary-color8: #f6f6f6;
