.chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .chat-header {
    padding: 0 12px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f4f5f9;
    .friend-info {
      font-size: 16px;
      display: flex;
      align-items: center;
    }
    .more {
      font-size: 18px;
    }
  }
  .chat-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
  }
}
